<h1 id="tableLabel">Records</h1>

<table *ngIf="records" [formGroup]="form" class="m-auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let record of records"
      [ngClass]="{ 'row-active': record.id === editingRecord?.id }"
    >
      <td>{{ record.name }}</td>
      <td>{{ record.description }}</td>
      <td>
        <button mat-stroked-button (click)="editRecord(record)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline" class="no-subscript-wrapper">
          <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline" class="no-subscript-wrapper">
          <input
            matInput
            placeholder="Description"
            formControlName="description"
          />
        </mat-form-field>
      </td>
      <td>
        <button mat-stroked-button (click)="saveRecord()">
          <mat-icon>save</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
