<div class="record-container">
  <div class="record-header">
    <h2>{{ record?.name }}</h2>
    <p class="description">{{ record?.description }}</p>
  </div>

  <div class="record-form" [formGroup]="form">
    <mat-form-field appearance="outline" class="no-subscript-wrapper">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="no-subscript-wrapper">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>
    <button mat-stroked-button (click)="saveRecord()">
      <mat-icon>save</mat-icon>
      Save Record
    </button>
  </div>

  <div class="fields-section">
    <h3>Fields</h3>
    <app-field-grid
      [fields]="record?.fields ?? []"
      [fieldProperties]="fieldPropertiesMap"
      (fieldAdded)="onFieldAdded($event)"
      (fieldMoved)="onFieldMoved($event)"
      (fieldValueChanged)="onFieldValueChanged($event)">
    </app-field-grid>
  </div>


</div>
